* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e3e7ef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.container {
    display: block;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
/* Logo and Header */
.box{
    border: 1px solid black;
    display: block;
    width: 100%;
    height: auto;
    padding: 25px 30px;
    background: linear-gradient(to right, #007BFF, #00C6FF);
    color: white;
    font-size: 40px;
    font-weight: bold;
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.box:hover{
    transform: translatey(-3px);
}

/* Nav */
.navbar {
    display: flex;
    gap: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}
.navbar a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    background-color: white;
    padding: 10px 15px;
    border-radius:8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    transition: all 0.3s ease;
}
.navbar a:hover {
    background-color: #007BFF;
    color: white;
    transform:scale(1.00) ;
}

/* Cards */
.card{
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    line-height: 1.8;
    transform: translateY(-4px);
    transition: 0.3s ease;
}
.card  p{
    font-size: 18px;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    border-left: 6px solid #007BFF;
}
.card h2{
    margin-bottom: 15px;
    color: black;
}
.footer{
    text-align: center;
    color: #333;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 60rem) {
    .navbar {
        justify-content: center;
    }

    article {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        flex: 1 1 300px;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.box,
.navbar,
.card {
    animation: fadeInUp 0.8s ease;
}
.box::before {
    content: "🤖 ";
}
.card:nth-child(2) {
    animation-delay: 0.2s;
}
.card:nth-child(3) {
    animation-delay: 0.4s;
}
.article-image {
    display: block;
    margin: 15px auto;
    width: 100;
    max-width: 300px;
    border-radius: 10px;
    
}
.card img {
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.05);
}